<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <fieldset>
  <legend> Activate Beacon </legend>
  <form>
   <p><label>Factory ID: </label><input type="text" name="factory_id"/></p>
   <p><label>Name: </label> <input type="text" name="name"/></p>
   <p><button type= "submit" formmethod="post" formaction="/activateBeacon">submit</button><p>
   </fieldset>
   </form>
    
  </body>
</html>